/*
 * Copyright 2019 NEM
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/*
 * Catapult REST API Reference
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 0.7.15
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package io.nem.sdk.infrastructure.api;

import com.google.gson.reflect.TypeToken;
import io.nem.sdk.infrastructure.ApiCallback;
import io.nem.sdk.infrastructure.ApiClient;
import io.nem.sdk.infrastructure.ApiException;
import io.nem.sdk.infrastructure.ApiResponse;
import io.nem.sdk.infrastructure.Configuration;
import io.nem.sdk.infrastructure.Pair;
import io.nem.sdk.infrastructure.model.NodeInfoDTO;
import io.nem.sdk.infrastructure.model.NodeTimeDTO;
import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class NodeRoutesApi {

    private ApiClient localVarApiClient;

    public NodeRoutesApi() {
        this(Configuration.getDefaultApiClient());
    }

    public NodeRoutesApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for getNodeInfo
     *
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details <table summary="Response Details" border="1">
     * <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
     * <tr><td> 200 </td><td> success </td><td>  -  </td></tr>
     * </table>
     */
    public okhttp3.Call getNodeInfoCall(final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/node/info";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {};

        final String localVarContentType =
            localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[]{};
        return localVarApiClient.buildCall(
            localVarPath,
            "GET",
            localVarQueryParams,
            localVarCollectionQueryParams,
            localVarPostBody,
            localVarHeaderParams,
            localVarFormParams,
            localVarAuthNames,
            _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getNodeInfoValidateBeforeCall(final ApiCallback _callback)
        throws ApiException {

        okhttp3.Call localVarCall = getNodeInfoCall(_callback);
        return localVarCall;
    }

    /**
     * Get the node information Supplies additional information about the application running on a
     * node.
     *
     * @return NodeInfoDTO
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the
     * response body
     * @http.response.details <table summary="Response Details" border="1">
     * <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
     * <tr><td> 200 </td><td> success </td><td>  -  </td></tr>
     * </table>
     */
    public NodeInfoDTO getNodeInfo() throws ApiException {
        ApiResponse<NodeInfoDTO> localVarResp = getNodeInfoWithHttpInfo();
        return localVarResp.getData();
    }

    /**
     * Get the node information Supplies additional information about the application running on a
     * node.
     *
     * @return ApiResponse&lt;NodeInfoDTO&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the
     * response body
     * @http.response.details <table summary="Response Details" border="1">
     * <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
     * <tr><td> 200 </td><td> success </td><td>  -  </td></tr>
     * </table>
     */
    public ApiResponse<NodeInfoDTO> getNodeInfoWithHttpInfo() throws ApiException {
        okhttp3.Call localVarCall = getNodeInfoValidateBeforeCall(null);
        Type localVarReturnType = new TypeToken<NodeInfoDTO>() {
        }.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get the node information (asynchronously) Supplies additional information about the
     * application running on a node.
     *
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body
     * object
     * @http.response.details <table summary="Response Details" border="1">
     * <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
     * <tr><td> 200 </td><td> success </td><td>  -  </td></tr>
     * </table>
     */
    public okhttp3.Call getNodeInfoAsync(final ApiCallback<NodeInfoDTO> _callback)
        throws ApiException {

        okhttp3.Call localVarCall = getNodeInfoValidateBeforeCall(_callback);
        Type localVarReturnType = new TypeToken<NodeInfoDTO>() {
        }.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }

    /**
     * Build call for getNodeTime
     *
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details <table summary="Response Details" border="1">
     * <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
     * <tr><td> 200 </td><td> success </td><td>  -  </td></tr>
     * </table>
     */
    public okhttp3.Call getNodeTimeCall(final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/node/time";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {};

        final String localVarContentType =
            localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[]{};
        return localVarApiClient.buildCall(
            localVarPath,
            "GET",
            localVarQueryParams,
            localVarCollectionQueryParams,
            localVarPostBody,
            localVarHeaderParams,
            localVarFormParams,
            localVarAuthNames,
            _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getNodeTimeValidateBeforeCall(final ApiCallback _callback)
        throws ApiException {

        okhttp3.Call localVarCall = getNodeTimeCall(_callback);
        return localVarCall;
    }

    /**
     * Get the node time Gets the node time at the moment the reply was sent and received.
     *
     * @return NodeTimeDTO
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the
     * response body
     * @http.response.details <table summary="Response Details" border="1">
     * <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
     * <tr><td> 200 </td><td> success </td><td>  -  </td></tr>
     * </table>
     */
    public NodeTimeDTO getNodeTime() throws ApiException {
        ApiResponse<NodeTimeDTO> localVarResp = getNodeTimeWithHttpInfo();
        return localVarResp.getData();
    }

    /**
     * Get the node time Gets the node time at the moment the reply was sent and received.
     *
     * @return ApiResponse&lt;NodeTimeDTO&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the
     * response body
     * @http.response.details <table summary="Response Details" border="1">
     * <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
     * <tr><td> 200 </td><td> success </td><td>  -  </td></tr>
     * </table>
     */
    public ApiResponse<NodeTimeDTO> getNodeTimeWithHttpInfo() throws ApiException {
        okhttp3.Call localVarCall = getNodeTimeValidateBeforeCall(null);
        Type localVarReturnType = new TypeToken<NodeTimeDTO>() {
        }.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get the node time (asynchronously) Gets the node time at the moment the reply was sent and
     * received.
     *
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body
     * object
     * @http.response.details <table summary="Response Details" border="1">
     * <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
     * <tr><td> 200 </td><td> success </td><td>  -  </td></tr>
     * </table>
     */
    public okhttp3.Call getNodeTimeAsync(final ApiCallback<NodeTimeDTO> _callback)
        throws ApiException {

        okhttp3.Call localVarCall = getNodeTimeValidateBeforeCall(_callback);
        Type localVarReturnType = new TypeToken<NodeTimeDTO>() {
        }.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
